p {
  margin: 1em 0;
}

.login-container {
  width: 20em;
  margin-top: 5em;
  text-align: center;
}

body {
  font-family: 'Abhaya Libre', serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}